# Copie para ".env" na mesma pasta da stack (ou configure como Environment variables no Portainer)

GLPI_DOMAIN=taskflow.renatofeijo.com.br
TRAEFIK_CERTRESOLVER=letsencrypt

GLPI_DB_NAME=glpi
GLPI_DB_USER=glpi
GLPI_DB_PASSWORD=troque-esta-senha
GLPI_DB_ROOT_PASSWORD=troque-esta-senha-root

GLPI_DEFAULT_LANGUAGE=pt_BR
